<section class="congratulation-block clearfix">
    <div class="container">
      <div class="confirmation-page text-center">
        <h2>Transcation Faliure</h2>
       
        <h3>Sorry for inconvinions. But your transaction failed due to one of the following reasons:</h3>
        <li>
            We were unable to verify your card details.

        </li>
        <li>
            You might have insufficient balance in your account.

        </li>
        <a href="/" class="congrats-btn">Please Try Again</a>
      </div>
    </div>
  </section>
  