<section class="congratulation-block clearfix">
  <div class="container">
    <div class="confirmation-page text-center">
      <h2>You rock! Your form is under consideration by the Halahi Team!</h2>
      <img src="../../../../assets/client/assets/img/congrats.gif" alt="Thank you for you Enrol Enquiry">
      <h3>Did we mention that you rock?<br>Well, you do! Once approved, we will be sharing with you your login details for the Halahi Mobile app!</h3>
      <a href="/" class="congrats-btn">Explore talent who already joined the Halahi Fam</a>
    </div>
  </div>
</section>
