<section class="search-hold" id="searchHold">
  <a style="display: inline-flex;" (click)="enableSearch()">
    <div class="search-icon"></div>
  </a>
  <input *ngIf="searchFlag" class="big-search" type="text" placeholder="Search..."
    (keyup)="searchData($event.target.value)">
  <div *ngIf="searchFlag" class="live-search">
    <div class="search-slide shadow">
      <ul *ngFor="let celebrity of celebritiesSearch">
        <li>
          <a [routerLink]="[ '/star',celebrity.userName]">
            <div class="simg"><img src="{{celebrity.imageUrl}}" alt="Name of Celeb" class="img-fluid"></div>
            <div class="sinfo">
              <span class="scat">Category Name - Category Name - Category Name</span>
              <div class="sdetail">
                <span class="sname">{{celebrity.fullName}}</span>
                <div class="sprice">${{celebrity.price}}</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<header class="category-header">

  <nav class="category-header-nav navbar">
    <div class="header-logo">
      <a href="/">
        <img src="../../../assets/client/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>

    <ul class="navbar-nav category-navbar">
      <li class="nav-item rotated">
        <a class="nav-link" [routerLink]="[ '/enroll-talent']" *ngIf="langEng; else temp1Arb">ENROL AS TALENT</a>
        <ng-template #temp1Arb>
          <a class="nav-link" [routerLink]="[ '/enroll-talent']"> سجل كنجم </a>
        </ng-template>
      </li>
      <li class="nav-item rotated">
        <a class="nav-link" [routerLink]="[ '/category']" *ngIf="langEng; else tempexpArb">EXPLORE</a>
        <ng-template #tempexpArb>
          <a class="nav-link" [routerLink]="[ '/category']"> إكتشف</a>
        </ng-template>
      </li>
    </ul>
    <div class="clearfix"></div>

    <div class="category-header-scroll">
      <img src="../../../assets/client/assets/img/hand-scroll.gif" class="logo" alt="" />
    </div>
  </nav>

  <div class="category-header-carousel">
    <ngb-carousel #carousel [interval]="10000" [pauseOnHover]="false">
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="Halahi banner is loading...">
        </div>
      </ng-template>
    </ngb-carousel>

    <!-- <ul class="carousel-social-items">
      <li>
        <a href="https://www.facebook.com/halahiofficial/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/halahiofficial/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/halahiofficial/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul> -->
  </div>
</header>

<section class="work-block info-block info-block-white clearfix" style="margin-bottom: 50px;">
  <div class="container text-center text-white ">
    <h5 class="info-block-title text-white mb-4 heading-600" *ngIf="langEng; else temp3Arb">HOW IT WORKS</h5>
    <ng-template #temp3Arb>
      <h5 class="info-block-title text-white mb-4 heading-600"> طريقة الطلب</h5>
    </ng-template>
    <div class="row" style="flex-wrap: nowrap !important;">
      <div class="col-lg-7 col-md-11 col-sm-12 col-xs-12 mx-auto">
        <div class="row" style="margin-right: 0px;flex-wrap: nowrap !important;">
          <div class="col-md-4">
            <img src="../../../assets/client/assets/img/1.png" alt="Block Title" class="icon-info">
            <h2 *ngIf="langEng; else temp4Arb">SELECT YOUR STAR</h2>
            <ng-template #temp4Arb>
              <h2> إختر نجمك </h2>
            </ng-template>
          </div>
          <div class="col-md-4">
            <img src="../../../assets/client/assets/img/2.png" alt="Block Title" class="icon-info">
            <h2 *ngIf="langEng; else temp5Arb">SEND YOUR REQUEST</h2>
            <ng-template #temp5Arb>
              <h2> أرسل طلبك </h2>
            </ng-template>
          </div>
          <div class="col-md-4">
            <img src="../../../assets/client/assets/img/3.png" alt="Block Title" class="icon-info">
            <h2 *ngIf="langEng; else temp6Arb">GET BLOWN AWAY</h2>
            <ng-template #temp6Arb>
              <h2> توصل بالمفاجئة </h2>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 25 stars -->
<section class="stars-block clearfix">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let celebrity of celebrities | slice:0:25">
        <a (click)="navigateUser(celebrity.userName, celebrity.videoUrl)"
          class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6" style="cursor: pointer;">
          <a class="background-startimg" style="background: url({{celebrity.imageUrl}});">
            <i class="favourite-icon fa fa-circle" [ngClass]="{'blink-me active': celebrity['bookableStatus'] && celebrity['price'], 'inactive': !celebrity['bookableStatus'] || !celebrity['price']}"></i>
          </a>
          <div class="star-overlay title">
            <h6 *ngIf="celebrity.title">{{celebrity.title | uppercase}}</h6>
            <h6 *ngIf="!celebrity.title">CELEBRITY</h6>
          </div>
          <h6 *ngIf="celebrity.fullName" class="celebrity-name">{{celebrity.fullName}}</h6>
          <h6 *ngIf="!celebrity.fullName" class="celebrity-name">Star Here!</h6>
          <div class="star-overlay">
            <span *ngIf="celebrity.price"><span class="dollar">$</span>{{celebrity.price}}</span>
            <span *ngIf="!celebrity.price">Coming Soon</span>
            <section class="book-btn-area">
              <a class="book-btn" *ngIf="langEng; else tempBookBtnArb">BOOK NOW</a>
              <ng-template #tempBookBtnArb>
                <a class="book-btn">
                  احجز الآن</a>
              </ng-template>
            </section>

            <!-- <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating> -->
          </div>
        </a>
        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <a class="background-startimg" (click)="navigateUser(celebrity.userName, celebrity.videoUrl)"
            style="background: url({{celebrity.imageUrl}});">
            <h2>{{celebrity.fullName}}</h2>
            <div class="star-overlay">
              <span>${{celebrity.price}}</span>
            </div>
          </a>
        </div> -->
      </ng-container>
    </div>
  </div>
</section>

<!-- Dual banners -->
<section class="featured-block clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <a [href]="leftAdvertUrl" target="_blank" style="cursor: pointer;">
          <img [src]="leftAdvert" alt="ShoutOut" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 d-none d-md-block">
        <a [href]="rightAdvertUrl" target="_blank" style="cursor: pointer;">
          <img [src]="rightAdvert" alt="Tiktok" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- 20 stars -->
<section class="stars-block clearfix">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let celebrity of celebrities | slice:25:45">
        <a (click)="navigateUser(celebrity.userName, celebrity.videoUrl)"
          class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6" style="cursor: pointer;">
          <a class="background-startimg" style="background: url({{celebrity.imageUrl}});">
            <i class="favourite-icon fa fa-circle" [ngClass]="{'blink-me active': celebrity['bookableStatus'] && celebrity['price'], 'inactive': !celebrity['bookableStatus'] || !celebrity['price']}"></i>
          </a>
          <div class="star-overlay title">
            <h6 *ngIf="celebrity.title">{{celebrity.title | uppercase}}</h6>
            <h6 *ngIf="!celebrity.title">CELEBRITY</h6>
          </div>
          <h6 *ngIf="celebrity.fullName" class="celebrity-name">{{celebrity.fullName}}</h6>
          <h6 *ngIf="!celebrity.fullName" class="celebrity-name">Star Here!</h6>
          <div class="star-overlay">
            <span *ngIf="celebrity.price"><span class="dollar">$</span>{{celebrity.price}}</span>
            <span *ngIf="!celebrity.price">Coming Soon</span>
            <section class="book-btn-area">
              <a class="book-btn" *ngIf="langEng; else tempBookBtnArb">BOOK NOW</a>
              <ng-template #tempBookBtnArb>
                <a class="book-btn">
                  احجز الآن</a>
              </ng-template>
            </section>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</section>

<section class="featured-block clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-0">
        <a [routerLink]="['/category']" [state]="{data: 'Tiktok'}" style="cursor: pointer;">
          <div class="advertisement-banners"
            style="background: url('https://firebasestorage.googleapis.com/v0/b/halahi-7cc6d.appspot.com/o/homePageBanners%2FBanner%202.png?alt=media&token=5bc2fc69-4382-4e88-b0d8-a8b31814a04a');background-size: cover;">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="stars-block clearfix">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let celebrity of celebrities | slice:45:celebrities.length">
        <a (click)="navigateUser(celebrity.userName, celebrity.videoUrl)"
          class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6" style="cursor: pointer;">
          <a class="background-startimg" style="background: url({{celebrity.imageUrl}});">
            <i class="favourite-icon fa fa-circle" [ngClass]="{'blink-me active': celebrity['bookableStatus'] && celebrity['price'], 'inactive': !celebrity['bookableStatus'] || !celebrity['price']}"></i>
          </a>
          <div class="star-overlay title">
            <h6 *ngIf="celebrity.title">{{celebrity.title | uppercase}}</h6>
            <h6 *ngIf="!celebrity.title">CELEBRITY</h6>
          </div>
          <h6 *ngIf="celebrity.fullName" class="celebrity-name">{{celebrity.fullName}}</h6>
          <h6 *ngIf="!celebrity.fullName" class="celebrity-name">Star Here!</h6>
          <div class="star-overlay">
            <span *ngIf="celebrity.price"><span class="dollar">$</span>{{celebrity.price}}</span>
            <span *ngIf="!celebrity.price">Coming Soon</span>
            <section class="book-btn-area">
              <a class="book-btn" *ngIf="langEng; else tempBookBtnArb">BOOK NOW</a>
              <ng-template #tempBookBtnArb>
                <a class="book-btn">
                  احجز الآن</a>
              </ng-template>
            </section>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</section>

<section class="featured-block clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-0">
        <a [routerLink]="['/category']" [state]="{data: 'Models'}" style="cursor: pointer;">
          <div class="advertisement-banners"
            style="background: url('https://firebasestorage.googleapis.com/v0/b/halahi-7cc6d.appspot.com/o/homePageBanners%2FBanner%201.png?alt=media&token=28f0c209-881a-4039-9c29-cd7998a343ca');background-size: cover;">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="stars-block clearfix">
  <div class="container" style="position:relative;">
    <i class="chevron-left" (click)="prev()"></i>
    <i class="chevron-right" (click)="next()"></i>
    <section class="starsRow slick-row">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let celebrity of celebrities" class="slide" style="outline: none;">
          <a (click)="navigateUser(celebrity.userName, celebrity.videoUrl)" style="cursor: pointer;outline: none;">
            <a class="background-startimg background-startimg-slick" style="background: url({{celebrity.imageUrl}});">
              <i class="favourite-icon fa fa-circle" [ngClass]="{'blink-me active': celebrity['bookableStatus'] && celebrity['price'], 'inactive': !celebrity['bookableStatus'] || !celebrity['price']}"></i>
            </a>
            <div class="star-overlay title">
              <h6 *ngIf="celebrity.title">{{celebrity.title | uppercase}}</h6>
              <h6 *ngIf="!celebrity.title">CELEBRITY</h6>
            </div>
            <h6 *ngIf="celebrity.fullName" class="celebrity-name">{{celebrity.fullName}}</h6>
            <h6 *ngIf="!celebrity.fullName" class="celebrity-name">Star Here!</h6>
            <div class="star-overlay">
              <span *ngIf="celebrity.price"><span class="dollar">$</span>{{celebrity.price}}</span>
              <span *ngIf="!celebrity.price">Coming Soon</span>
              <section class="book-btn-area book-btn-area-slick">
                <a class="book-btn" *ngIf="langEng; else tempBookBtnArb">BOOK NOW</a>
                <ng-template #tempBookBtnArb>
                  <a class="book-btn">
                    احجز الآن</a>
                </ng-template>
              </section>
            </div>
          </a>
        </div>
      </ngx-slick-carousel>
    </section>
  </div>
</section>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50"
  (scrolled)="getMoreCelebrities()"></div>

<app-footer></app-footer>

<ng-template #t let-fill="fill">
  <span class="star-review" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>