<app-header></app-header>
<section class="content profile-content clearfix">
  <div class="container">
    <div class="semi-row mt-3 mb-3">
      <div class="input-hold">
        <a [routerLink]="[ '/dashboard/star-single',celebrity['id']]" class="btn btn-dark" value="Back">Back</a>
      </div>
    </div>
    <div class="card-hold position-relative">
      <div class="profile-info">

        <h2>Change Password</h2>
        <div class="form-block">
          <form [formGroup]="talentForm">
            <div class="input-hold mt-4">
              <label>Email</label>
              <input formControlName="emailAddress" type="email" placeholder="hi@halahi.com" [(ngModel)]="emailAddress" class="check-input" disabled>
            </div>
            <div class="input-hold mt-4">
              <label>Password</label>
              <input formControlName="password" class="check-input" type="password">
              <div
                *ngIf="talentForm.controls.password.errors && (talentForm.controls.password.dirty || talentForm.controls.password.touched)"
                class="error-msg mt-1" role="alert">
                <span *ngIf="talentForm.controls.password.errors.required">Password is required.</span>
              </div>
            </div>
            <div class="input-hold mt-4">
              <label>Retype Password</label>
              <input formControlName="confirmPassword" class="check-input" type="password">
              <div
                *ngIf="talentForm.controls.confirmPassword.errors && (talentForm.controls.confirmPassword.dirty || talentForm.controls.confirmPassword.touched)"
                class="error-msg mt-1" role="alert">
                <span *ngIf="talentForm.controls.confirmPassword.errors.required">Retype password is required</span>
              </div>
              <div *ngIf="(talentForm.controls.confirmPassword.dirty || talentForm.controls.confirmPassword.touched)"
                class="error-msg mt-1" role="alert">
                <span *ngIf="talentForm.getRawValue()['password'] != talentForm.getRawValue()['confirmPassword']">Your
                  password and confirmation password do not match..</span>
              </div>
            </div>
            <div class="input-hold mt-4">
              <input type="submit" (click)="submitData()" class="btn-submit" value="Update Password">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
