<section class="congratulation-block clearfix">
  <div class="container">
    <div class="confirmation-page text-center">
      <h2>You rock! A little present has been sent to your email!</h2>
      <img src="../../../../assets/client/assets/img/congrats.gif" alt="Thank you for your Enrol Enquiry">
      <h3>Did we mention that you rock?<br>Well you do! Your shoutout will be sent to you in a asap!</h3>
      <a href="/" class="congrats-btn">Explore more of you favorite talent</a>
    </div>
  </div>
</section>
