<app-header></app-header>

  <section class="content profile-content clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card-hold position-relative">
            <div class="profile-img">
              <img src="../../../assets/dashboard/assets/img/logo.png" alt="HalaHi" class="rounded-circle">
            </div>
            <div class="update-profile">
              <a href="edit-profile.html">Edit Profile</a>
              <a href="change-password.html">Change Password</a>
            </div>
            <div class="profile-info">
              <h2>Mandip Luitel</h2>
              <p><i class="fa fa-map-marker mr-2"></i> Biratnagar 15, Nepal</p>
            </div>
            <div class="profile-info">
              <h2>Bio</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-hold">
            <h3>Sales Status</h3>
            <ul class="sale-status">
              <li>
                <div class="sale-info">
                  <p class="text-muted mb-2">Number of Sales</p>
                  <h6 class="mb-0">1,625</h6>
                </div>
                <div class="sale-icon">
                  <i class="fa fa-tachometer"></i>
                </div>
              </li>
              <li>
                <div class="sale-info">
                  <p class="text-muted mb-2">HalaHi Created</p>
                  <h6 class="mb-0">30</h6>
                </div>
                <div class="sale-icon">
                  <i class="fa fa-video-camera"></i>
                </div>
              </li>
            </ul>

            <h3>Recent Hala</h3>
            <div class="recent-hala">
              <div class="hala-block">
                <div class="col-4">
                  <img src="../../../assets/dashboard/assets/img/thumb.png" alt="Hala" class="hala-img rounded img-fluid">
                </div>
                <div class="col-4">
                  <img src="../../../assets/dashboard/assets/img/thumb.png" alt="Hala" class="hala-img rounded img-fluid">
                </div>
                <div class="col-4">
                  <img src="../../../assets/dashboard/assets/img/thumb.png" alt="Hala" class="hala-img rounded img-fluid">
                </div>
                <div class="col-4">
                  <img src="../../../assets/dashboard/assets/img/thumb.png" alt="Hala" class="hala-img rounded img-fluid">
                </div>
                <div class="col-4">
                  <img src="../../../assets/dashboard/assets/img/thumb.png" alt="Hala" class="hala-img rounded img-fluid">
                </div>
                <div class="col-4">
                  <img src="../../../assets/dashboard/assets/img/thumb.png" alt="Hala" class="hala-img rounded img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <app-footer></app-footer>
