<app-header></app-header>
<section class="content profile-content clearfix">
  <div class="container">
    <div class="card-hold position-relative">
      <div class="profile-info">
        <div class="form-block">
          <div class="semi-row">
            <div class="input-hold">
              <label>Star Name</label>
              <input class="check-input" type="text" placeholder="Sara">
            </div>
            <div class="input-hold">
              <label>Username</label>
              <input class="check-input" type="text" placeholder="@sara">
            </div>
          </div>
          <div class="semi-row mt-3">
            <div class="input-hold">
              <label>Email</label>
              <input class="check-input" type="email" placeholder="ibrahim.kh@gmail.com">
            </div>
            <div class="input-hold">
              <label>Price</label>
              <input class="check-input" type="number" placeholder="30">
            </div>
          </div>
          <div class="semi-row mt-3">
            <div class="input-hold">
              <label>Date of Birth</label>
              <input class="check-input" type="date" placeholder="1990/12/13">
            </div>
            <div class="input-hold">
              <label>Phone</label>
              <input class="check-input" type="number" placeholder="+977 555 555 5555">
            </div>
          </div>
          <div class="input-hold mt-3">
            <label>Categories</label>
            <input class="check-input" type="text" placeholder="Actor, Actress">
          </div>
          <div class="input-hold mt-3">
            <label>Bio</label>
            <textarea class="check-textarea" placeholder="Bio Text"></textarea>
          </div>
          <div class="input-hold mt-4">
            <input type="submit" class="btn-submit" value="Update">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
