
  <section class="login-block clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <img src="../../../assets/dashboard/assets/img/logo.png" alt="HalaHi" class="login-logo img-fluid">
          <div class="alert alert-success" role="alert">
            Password Changed Successfully
          </div>
          <div class="alert alert-danger" role="alert">
            Both Password didn't matched
          </div>
          <div class="login-hold">
            <h2>Set New Password</h2>
            <div class="form-block">
              <p>Please create your new password.</p>
              <div class="input-hold">
                <label>Password</label>
                <input class="check-input" type="password">
              </div>
              <div class="input-hold mt-3">
                <label>Retype Password</label>
                <input class="check-input" type="password">
              </div>
              <div class="input-hold mt-4">
                <input type="submit" class="btn-submit" value="Done">
              </div>
            </div>
          </div>
          <p class="copyright text-center">HalaHi &copy; 2020</p>
        </div>
      </div>
    </div>
  </section>
