
  <section class="login-block clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <img src="../../../assets/dashboard/assets/img/logo.png" alt="HalaHi" class="login-logo img-fluid">
          <div class="login-hold">
            <h2>Forgot Your Password?</h2>
            <div class="form-block">
              <p>Please enter your registered e-mail address and<br class="d-none d-md-block">we will send you a password reset link.</p>
              <div class="input-hold">
                <label>Email</label>
                <input class="check-input" type="email" name="email" [(ngModel)]="emailAddress" placeholder="hello@halahi.com">
              </div>
              <div class="input-hold mt-4">
                <input type="submit" class="btn-submit" value="Send to Email" (click)="resetEmail()">
              </div>
            </div>
          </div>
          <p class="copyright text-center">HalaHi &copy; 2020</p>
        </div>
      </div>
    </div>
  </section>

